<section class="hero">
    <div class="container hero__container">
        <a href="#" class="logo hero__logo">
            <svg class="logo__icon">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <p class="hero__pretext">Зеленый тариф для дома и бизнеса</p>
        <h1 class="hero__title">Солнечная электростанция</h1>
        <p class="hero__posttext">с доходом от 1000 $ в месяц</p>
        <button class="button hero__button">
            <svg class="button__icon">
                <use href="./images/icons.svg#icon-button"></use>
            </svg>
            <span class="button__text">записаться на консультацию</span>
        </button>
        <ul class="socials hero__socials">
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="socials__icon">
                        <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="socials__icon">
                        <use href="./images/icons.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="socials__icon">
                        <use href="./images/icons.svg#icon-whatsapp"></use>
                    </svg>
                </a>
            </li>
            <li class="socials__item">
                <a href="#" class="socials__link">
                    <svg class="socials__icon">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>
