<section class="section services">
    <div class="container">
        <h2 class="section__title">УСЛУГИ</h2>
        <div class="services__wrapper">
            <ul class="services__list">
                <li class="services__item">
                    <h3 class="services__title">
                        Полный комплект солнечной электростанции
                    </h3>
                    <p class="services__text">
                        74 модели солнечных панелей, 31 модель инверторов, провода с
                        повышенной устойчивостью к атмосферным условиям, качественные
                        соединители, контроллеры зарядов и надежные гелевые аккумуляторы с
                        увеличенным сроком службы.
                    </p>
                </li>
                <li class="services__item">
                    <h3 class="services__title">
                        Подбор оборудования с максимальной производительностью
                    </h3>
                    <p class="services__text">
                        Подбираем солнечные панели с учетом расположения Вашего дома,
                        количеством прямого и рассеянного излучения, для того, чтобы Ваша
                        электростанция - вырабатывала максимальное количество электроэнергии
                        и окупилась как можно быстрее.
                    </p>
                </li>
                <li class="services__item">
                    <h3 class="services__title">
                        Монтаж оборудования в соответствии с ГОСТом
                    </h3>
                    <p class="services__text">
                        Монтаж производится в точном соответствии с ГОСТом, с учетом закона
                        о «Зеленом тарифе» и требованиями Облэнерго. При этом, мы учитываем,
                        чтобы солнечная станция имела максимально возможную
                        производительность.
                    </p>
                </li>
                <li class="services__item">
                    <h3 class="services__title">
                        Помощь в подключении к «Зеленому тарифу»
                    </h3>
                    <p class="services__text">
                        Всю бюрократическую процедуру по подключению Вашей электростанции к
                        «Зеленому тарифу», мы берем на себя, в том числе по увеличению
                        договорной мощности вашего дома. При заказе солнечной электростанции
                        эта услуга абсолютно бесплатна.
                    </p>
                </li>
            </ul>
            <img src="./images/services-img.jpg" alt="Солнечные панели" class="services__image" />
        </div>
    </div>
</section>